.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

.ui.segments {
    border: 0px solid transparent;
    box-shadow: 0 0 0 0;
}

.ui.form .field {
    flex-grow: 1;
    margin: 0em;
}

.ui.form .field>label {
    margin-bottom: 0px;
}

.ui.form .fields {
    margin: 0 -0.5em;
}

/* .ui.field.field-object > fieldset {
    border-left: 1pt solid lightpink;
    padding-left: 1em;
} */

.ui.buttons {
    display: inline;
    padding-bottom: 1em;
}

.ui.form .field:last-child, .ui.form .fields:last-child .field {
    /* padding-bottom: 1em; */
}

.ui.form .grouped.fields {
    margin-bottom: 0px;
}
.checkbox {
    margin-right: 0.5em;
}

.ui.grid>.column:not(.row) {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.ui.form-group {
    padding-bottom: 1em;
}

.ui.field {
    align-items: center;
    margin-right: 1em;
}

.ui.search.dropdown {
    height: auto;
}

.add-button {
    cursor: pointer;
    float: right;
}

.array-item {
    padding-left: 1em;
    border-left: 1px solid lightgrey;
    margin-left: 8pt;
    /* padding-bottom: 1em; */
}

.array-item-toolbox {
    width: 100px;
}

p.imagedrop {

}