.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

.ui.form .field>label {
    margin-right: 1em;
}

.ui.form .grouped.fields {
    margin-bottom: 0px;
}
.checkbox {
    margin-right: 0.5em;
}

.ui.grid>.column:not(.row) {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.ui.field {
    align-items: center;
    margin-right: 1em;
}

.ui.search.dropdown {
    height: auto;
}

.add-button {
    cursor: pointer;
    float: right;
}

.array-item-toolbox {
    width: 100px;
}